h1 {
  border-bottom: 1px solid whitesmoke;
}
img {
  width: 18rem;
  height: 18rem;
  border-radius: 5%;
}
.productCardContaier {
  border: 1px solid whitesmoke;
  border-radius: 5%;
}
.btn {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  width: 50%;
}
.btn:hover {
  border: 1px solid #ffc107;
  color: whitesmoke;
  background-color: black;
}