.todo-wrapper{
    margin-bottom: 5rem;
}

label{
    font-weight: bolder;
    font-size: 1.5rem;
}
input{
    margin: auto 30px;
    border:1px solid black;
    background-color:black;
    color:whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

button{
    background-color: black;
    color: whitesmoke;
    border:none;
    font-weight: bolder;

}
button:hover{
    background-color: whitesmoke;
    color:black
}

.no-items, h5{
    color:#747458;
    font-weight: bolder;

}
.todo-list{
    border:2px solid black;
    width: 35%;
    margin: 0 auto;
    border-radius:5px;
}
.text{
    color:#747458;
    font-weight: bold;

}
