.navbar{
    background-color: whitesmoke;
    /* color:#f8eac1 */
}
.nav-item {
    color:black;
    margin: 0 20px;
    text-decoration: none;
    font-size:1.4rem;
    
}
.nav-brand{
    font-weight: bolder;
    color:black
}



.nav-item:hover, .nav-brand:hover{
    color:black
}
