/* nav, h3, ul, li, .link{
    background-color: whitesmoke;
}

h3, .link{
    color:black
}

.link{
    text-decoration: none;
}
.link:hover{
    color:black

} */

.navbar{
    background-color: whitesmoke;
    /* color:#f8eac1 */
}
.nav-item {
    color:black;
    margin: 0 20px;
    text-decoration: none;
    font-size:1.1rem
}
.nav-brand{
    color: #ffc107;
    font-weight: bolder;
    font-size: 1.5rem;
}

.nav-brand:hover, .nav-item:hover{
    color: #ffc107;
}

